services:
    backend:
        build:
            context: ./be
            dockerfile: Dockerfile
        container_name: laravel_app
        restart: unless-stopped
        working_dir: /var/www
        volumes:
            - ./be:/var/www
        ports:
            - "8000:8000"
        depends_on:
            - database
        networks:
            - app-network
        env_file:
            - ./be/.env
        environment:
            - DB_HOST=database
            - DB_PORT=3306
            - DB_DATABASE=laravel_docker
            - DB_USERNAME=laravel
            - DB_PASSWORD=root
            - APP_URL=http://localhost:8000
            - FILESYSTEM_DISK=public

    frontend:
        build:
            context: ./fe
            dockerfile: Dockerfile
        container_name: vue_app
        restart: unless-stopped
        volumes:
            - ./fe:/app
            - /app/node_modules
        ports:
            - "5173:5173"
        networks:
            - app-network

    database:
        image: mysql:8.0
        container_name: mysql_db
        restart: unless-stopped
        environment:
            MYSQL_DATABASE: laravel_docker
            MYSQL_ROOT_PASSWORD: root
            MYSQL_PASSWORD: root
            MYSQL_USER: laravel
        volumes:
            - db-data:/var/lib/mysql
        networks:
            - app-network
        ports:
            - "3307:3306"

networks:
    app-network:
        driver: bridge

volumes:
    db-data:
